.conex {
    margin-top: 10px;
}

.divBtn{
    float: left;
    position: relative;
    left: 50%;
}
.div2Btn{
    float: left;
    position: relative;
    left: -50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lblParam{
    font-weight: bold;
}

.cardParams {
    border: none;
}

.selectButton {
    font-size: 10px;
    width: 100%;
}