<nb-card size="medium">
  <nb-card-body>
    <form class="registro-container" [formGroup]="form" (ngSubmit)="registrar()" #pesajeForm="ngForm">
      <div class="form-group row">
        <label class="col-sm-3">Proceso</label>
        <nb-radio-group [(value)]="radioGroupValue" formControlName="proceso">
          <nb-radio
            [value]="'IMP'">
            Importación
          </nb-radio>
          <nb-radio
            [value]="'EXP'">
            Exportación
          </nb-radio>
          <nb-radio
            [value]="'REC'">
            Recepción
          </nb-radio>
        </nb-radio-group>
      </div>
      <div class="form-group row">
        <label for="inputPlaca" class="col-sm-3 col-form-label">Placa</label>
        <div class="col-sm-9">
          <input type="placa" class="form-control" id="inputPlaca" formControlName="placa" readonly>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputObs" class="col-sm-3 col-form-label">Obs.</label>
        <div class="col-sm-9">
          <textarea type="obs" class="form-control" id="inputObs" formControlName="obs"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-sm-1 col-sm-12">
          <button type="submit" class="btn btn-primary" [disabled]="pesajeForm.invalid">Guardar</button>
          <button type="button" class="btn btn-primary" style="margin-left: 5px;" (click)="limpiar()">Limpiar</button>
          <button type="button" class="btn btn-primary" style="margin-left: 5px;" (click)="openWindowPesajes()">Pesajes</button>
        </div>
      </div>
    </form>
  </nb-card-body>

</nb-card>